@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}

.card {

    max-width: 300px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.card p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.card button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 40px;
    width: 8rem;
    height: 2.8rem;
}

.card_1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.card_1 button {
    color: hsl(31, 77%, 52%);

}

.card_2 {
    background-color: hsl(184, 100%, 22%);
}

.card_2 button {
    color: hsl(184, 100%, 22%);
}

.card_3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.card_3 button {
    color: hsl(179, 100%, 13%);
}

h1 {
    margin-top: 2rem;
}

p {
    margin-top: 2rem;
}

button {
    margin-top: 4rem;
}

/*--------------------------------------------------*/
@media (max-width:680px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 2rem;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }

    .card_1 {
        border-radius: 10px 10px 0 0;
    }

    .card_3 {
        border-radius: 0 0 10px 10px;
    }
}